* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.nav-info {
    margin: 0 auto;
}

.nav-info .nav-left {
    margin-top: 200px;
    margin-right: 20px;
}

.nav-info .nav-left ul {
    list-style: none;
    text-align: center;
}

.nav-info .nav-left li {
    background-color: rgb(241, 238, 238);
    border-radius: 5px;
    font-size: 16px;
}

.nav-info .nav-left li a {
    margin-top: 50%;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    padding: 12px 0;
    display: block;
    border: 1px solid #ff4584;
    border-radius: 10px;
    color: #ff4584;
    margin: 0 auto;
    text-decoration: none;
    font-size: 18px;
}

.nav-info .nav-left li:hover a {
    background-color: #ff4584;
    color: #fff;
}


/* Profile infomation */
.login_layout {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    height: 1000px;
    margin: 0 auto;
}

  
.login_layout .noi-dung {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
  
.login_layout .noi-dung .form {
    width: 100%;
    margin-top: -200px;
}
  
.login_layout .noi-dung .form h2 {
    color: #607d8b;
    font-weight: 500;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}

.login_layout .noi-dung .form .input-form {
    margin-bottom: 20px;
    background-color: rgba(250, 250, 250, 0.986);
    padding: 20px;
    border-radius: 10px;
}
 
.login_layout .noi-dung .form .input-form .form-group {
    border-bottom: 1px #ccc solid;
    padding-bottom: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.login_layout .noi-dung .form .input-form .form-group .checkbox {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login_layout .noi-dung .form .input-form .form-group .checkbox input {
    width: 18px;
}

.btn-navigation {
    margin-top: 20px;
    text-align: center;
}

.change-info {
    background-color: rgba(166, 217, 184, 0.3294117647);
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    border: none;
    width: 120px;
}